* {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    margin: 0;
    font-family: helvetica, arial, sans-serif;
}

.container {
    padding: 1em;
}

@media (min-width: 990px) {
    .container {
        width: 960px;
        margin: 0 auto;
        padding: 5em 0;
    }
}
