:root {
    --π: 3.14159;
}

.article {
    mix-blend-mode: soft-light;
}

.progresscar {
    --car-width-px: calc(var(--car-width) * 1px);
    position: fixed;
    bottom: 0;
    left: 0;
    width: var(--car-width-px);
    height: calc(var(--car-width-px) / 3);
    background: url('../assets/progresscar.png') no-repeat center center;
    background-size: 100%;
    transform:
        translateX(
            calc(var(--scroll-y-1) * (100vw - var(--car-width-px)))
        );
}

.wheel {
    --size: calc(var(--car-width) / 14);
    --size-px: calc(var(--size) * 1px);
    position: absolute;
    bottom: calc(var(--size-px) / 1.6);
    display: inline-block;
    width: var(--size-px);
    height: var(--size-px);
    background: url('../assets/progresscar-rim.png') no-repeat center center;
    background-size: 100%;

    /*
     * Rotation of each wheel
     * - wheel circumference: 2 * π * (size / 2) = π * size
     * - road length: viewport-width
     * - scroll-y: value between 0 and 1
     *
     * We need to use a custom absolute number for viewport-width, instead of 100vw,
     * because otherwise it can't be multiplied by 1turn
     *
     * To calculate how much rotation is needed, this formula is used:
     * (wheel circumference / road length) = (rotation / (360deg * scroll-y))
     *
     * To put in human language:
     * For one full wheel rotation to happen, the car must move exactly as much
     * as the circumference of the wheel. This means page should be scrolled just
     * enough for the car to move exactly one wheel circumference forward. */
    transform: rotate(
        calc(
            var(--scroll-y-1) * 1turn * var(--viewport-width) / (var(--π) * var(--size))
        )
    );
}

/* arbitrary positioning based on the car image used. */
.wheel:first-child {
    left: calc(var(--car-width-px) / 5.4);
}

.wheel:last-child {
    right: calc(var(--car-width-px) / 7);
}
