.content {
    display: grid;
    place-items: center;
}

.carousel-container {
    --item-width: 720px;
    --tab-height: 36px;
    --tabline-position-px: calc(var(--tabline-position) * 1px);
    --active-tab-width-px: calc(var(--active-tab-width) * 1px);
    width: var(--item-width);
}

@media (max-width: 720px) {
    .carousel-container {
        --item-width: 100vw;
    }
}

.tabs {
    box-sizing: content-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: var(--tab-height);
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.tab {
    border: none;
    background: none;
    font: inherit;
    appearance: none;
    padding: 0 24px;
    height: var(--tab-height);

    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
    cursor: pointer;
}

.tab:focus:not(:focus-visible) {
  outline: none;
}

@media (max-width: 719px) {
    .tab {
        padding: 0 14px;
    }

    .tab-title--full {
        display: none;
    }

    .tab-title--mini {
        display: block;
    }
}

@media (min-width: 720px) {
    .tab-title--mini {
        display: none;
    }
}

.active-tab-indicator {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateX(
        calc( var(--tabline-position-px) - var(--active-tab-width-px) / 2 )
    );
    display: inline-block;
    width: var(--active-tab-width-px);
    height: var(--tab-height);
    background: hsl(187, 51.9%, 89%);
    border-radius: 8px;
}

@media (max-width: 719px) {
    .active-tab-indicator {
        border-radius: 50%;
    }
}

.carousel {
    display: flex;
    width: var(--item-width);
    height: 300px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: var(--item-width);
    height: 100%;
    scroll-snap-align: start;

    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: .15em;
    text-align: center;
}
