body {
    height: 100vh;
}

.container {
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    perspective: 100vmax;
}

.item {
    display: grid;
    place-items: center;
    width: min(40vw, 960px);
    height: min(30vw, 720px);
    font-size: 10vmin;
    background: royalblue;
    border-radius: 8px;
    transform:
        rotateX(calc( -30deg + (1 - var(--cursor-y-1)) * 60deg))
        rotateY(calc( -30deg + var(--cursor-x-1) * 60deg));
}
