body {
    overflow: hidden;
    background: black;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.heading h1 {
    margin: 0;
    padding: 3em 0 0 1em;
    color: lavenderblush;
    font-variant: all-petite-caps;
}

.content {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.item {
    --size: calc(60vw - (var(--index) * 2vw));
    position: absolute;
    transform: translate(
        calc( var(--cursor-x) - 50%),
        calc( var(--cursor-y) - 50%)
    );
    width: var(--size);
    height: var(--size);
    border: 1px solid seagreen;
    border-radius: 50%;
    will-change: transform;
    transition: transform .8s;
    transition-delay: calc( var(--index) * -4ms);
}
