body {
    height: 100vh;
}

.container {
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    position: relative;
}

.item {
    position: absolute;
}

.item-1 {
    top: 50%;
    left: 50%;
    width: min(40vw, 960px);
    height: min(30vw, 720px);
    background: skyblue;
    transform:
        translate(-50%, -50%);
}

.item-2 {
    top: 50%;
    left: 50%;
    width: min(40vw, 960px);
    height: min(10vw, 240px);
    background: seagreen;
    transform:
        translate(
            calc(-52.5% + var(--cursor-x-1) * 5%),
            calc(45% + var(--cursor-y-1) * 10%)
        );
}

.item-3 {
    top: 50%;
    left: 50%;
    width: min(10vw, 160px);
    height: min(10vw, 160px);
    background: gold;
    border-radius: 50%;
    transform:
        translate(
            calc(-170% + var(--cursor-x-1) * 30%),
            calc(-170% + var(--cursor-y-1) * 30%)
        );
}

.item-4 {
    top: 50%;
    left: 50%;
    display: inline-block;
    font-size: 5vw;
    transform:
        translate(
            calc(10% + var(--cursor-x-1) * 90%),
            calc(-40% + var(--cursor-y-1) * 90%)
        );
}
